#sojuLogo{
	width: 120px;
}

.hamburgerMenuButton{
	display: none;
}

.signInIcon{
	display: inline-flex;
	vertical-align: middle;
	font-size: 13px;
	padding: 5px 15px 5px 0px;
	margin: 25px 0 0 0;
	line-height: 24px;
}
@media only screen and (max-width: 480px) {
	.hamburgerMenuButton{
		display: block;
		position:absolute; 
		top:20; 
		right:15;
	}
}