
/* General */
body{
		margin: 0px;
	}

	box-sizing: border-box;

	h2{
		font-family: "Muli", sans-serif;
		font-size:28px;
		line-height:34px;
		font-weight: normal;
	}
	h4{
		font-family: "Muli", sans-serif;
		font-size: 14px;
		line-height: 20px;
		font-weight: lighter;
	}
	h5{
		font-family: "Muli", sans-serif;
		font-style: italic;
		font-size: 14px;
		font-weight: normal;
	}
	h6{
		font-family: "Muli", sans-serif;
		font-size: 12px;
		font-weight: normal;
	};
	#sojuLogo{
		width: 150px;
		height: 30px;
		margin: 15px 60px;
		cursor: pointer;
	}
	#hamburgerMenuButton{
		line-height: 70px;
		margin: 0px 20px 0px 0px;
		padding: 0px;
	}
	#hamburgerMenuButton:focus{
		outline: none;
		cursor: pointer;
	}
	md-toolbar.generalToolbar{
		background-color: white;
	}


@media only screen and (max-width: 480px) {
	#sojuLogo{
		width: 135px;
		height: 27px;
		margin: 20px 25px;
	}
}
@media only screen and (max-width: 330px) {
	#sojuLogo{
		width: 135px;
		height: 27px;
		margin: 20px 25px;
	}
	h4{
		font-family: "Muli", sans-serif;
		font-size: 12px;
		line-height: 18px;
		font-weight: lighter;
	}
	h2{
		font-family: "Muli", sans-serif;
		font-size:20px;
		line-height:28px;
		font-weight: normal;
	}
}

