<div id="container" layout="column" layout-fill>
 <toolbar-component (menuClick)="start.toggle()"></toolbar-component>
 <div layout="row">
			<md-sidenav-layout class="left-navigation">
				<md-sidenav #start mode="over" class="sidenavLanding">
					<button md-button class="sidenavLandingSelect">
							<md-icon class="material-icons">home</md-icon>
						</button>
						<button md-button class="sidenavLandingSelect">
							<md-icon class="material-icons">build</md-icon>
						</button>
						<button md-button class="sidenavLandingSelect">
							<md-icon class="material-icons">people</md-icon>
						</button>
						<button md-button class="sidenavLandingSelect">
							<md-icon class="material-icons">help_outline</md-icon>
						</button>
						<button md-button class="sidenavLandingSelect">
							<md-icon class="material-icons">face</md-icon>
						</button>
				</md-sidenav>
					<div id="landingSection">
						<section flex layout="row">
								<md-toolbar class="headerMenu">
									<h6>WHAT IS SOJU</h6>
									<h6>RESOURCES</h6>
									<h6>ABOUT US</h6>
									<h6>FAQs</h6>
									<span flex></span>
									<h6>LOG IN</h6>
								</md-toolbar>
							<div layout="row" id="landingBanner" class="sectionContent" flex>
								<div flex class="projectDescription">
									<h2 class="welcomeTitle">Build an application with CODESOJU</h2>
									<h4 class="welcomeContent">Codesoju has been designed to provide a set of standards, best practices and tools to a developer for the purpose of building modern Enterprise applications. It offers a step-by-step guidance for all aspects of the integrated development cycle.</h4>
									<button md-button aria-label="Get started" [routerLink]="['/home']" id="getStartedButton" href = "/home">Get started</button>
								</div>
								<div flex class="photoDescription">
								</div>
							</div>
						</section>
					</div>

				<section id="devResourcesSection">
				<div layout="row" layout-wrap class="sectionContent">
					<div flex class="devResourcesImage">
						<img alt="" src="images/graphic_developer_resources.png">
					</div>
					<div flex class="devResourcesDescription">
						<h2>Developer Resources</h2>
						<h4>Building an Enterprise or a smaller scale App? Not sure how all pieces of the development cycle fit together? Not sure where to start so it is scalable and easily maintanable? We are here to help. We provide you with the best practices and tools to ease the process:
						<ol>
							<li>Generator with Angular1/Angular 2 option will help you with both architecture and design.</li>
							<li>Documentation will provide you with a reasoning and a guidance on all the tools and standards that were chosen.</li>
							<li>Cloud Foudry deployment manifest will help you to deploy your app to any cloud.</li>
							<li>Auth0 feature will help you to secure your app.</li>
						</ol>
						</h4>
						<h5 class="anchorScrollArrow">About us</h5>
						<i class="material-icons">keyboard_arrow_down</i>
					</div>
				</div>
			</section>
					<section id="aboutUsSection">
					<div layout="row" layout-wrap class="sectionContent">
						<div flex class="aboutUsDescription">
							<h2>About us</h2>
							<h4>We are a team of software architects, developers and UX designers with 20+ years of experience. We all worked on large scale Enterprise applications, some of them are currently available worldwide. Our team members have expertise with DevOps, UX Design, Prototyping, UI Frameworks, API Management & Micro-Services, Digital Platforms, Cloud Application Frameworks, etc. Codesoju is an Open Source project and we hope it will be driven by the community.</h4>
							<h5 class="anchorScrollArrow">FAQs</h5>
							<i class="material-icons">keyboard_arrow_down</i>
						</div>
						<div flex class="aboutUsImage">
							<img alt="" src="images/graphic_about_us.png">
						</div>
						</div>
					</section>
				<section id="faqsSection">
					<div layout="row" layout-wrap class="sectionContent">
						<div flex class="faqsImage">
							<img alt="" src="images/graphic_faqs.png">
						</div>
						<div flex class="faqsDescription">
							<h2>FAQs</h2>
							<h4 class="faqsQuestion">Q: Why did you decide to create CodeSoju?</h4>
							<h4 class="faqsAnswer">A: While working on Enterprise apps we noticed that developers often have to maintain just one or two parts of the development cycle. It is very hard to build something from the scratch and make it robust so it can easily grow if some pieces in the understanding are missing. It is important to keep in mind and to understand the big picture.</h4>
							<h4 class="faqsQuestion">Q: Why did you chose Node, Angular, Angular2, Typescript, Angular Material?</h4>
							<h4 class="faqsAnswer">A: The experience shows that Node and Angular are very robust and widely used technologies. We love to explore technologies and we see that Angular2 with Typescript and Angular Material2 are rapidly developing and we think it will grow even faster in the future.</h4>
							<h4 class="faqsQuestion">Q: Can I create my app with CodeSoju?</h4>
							<h4 class="faqsAnswer">A: Absolutely! CodeSoju provides you with Yeoman generators to create a scaffold of your app ready to run on multiple devices. It provides you with tools, standards  and documentation. It covers the deployment phase as well. It is designed to make you life as a developer easier. So, of course you can!</h4>
						</div>
					</div>
				</section>
			<footer-component></footer-component>
			</md-sidenav-layout>
	</div>
</div>
