.cardsContainer{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}

/* News Feed Card */
.newsFeedCard{
	height: 500px;
	width: 250px;
	margin: 10px;
	padding: 0;
}

/* Card Image */
img.md-card-image {
	width: 100%;
	padding: 0px;
}

/* Card Content */
.newsFeedContent{
	padding: 16px;
}
.newsFeedContent > h3 > a{
	font-family: "Muli", sans-serif;
	text-decoration: none;
	color: #2d87b2;
}
.newsFeedContent > span {
	font-family: "Muli", sans-serif;
	font-size:10px;
}
.newsFeedContent > p {
	font-family: "Muli", sans-serif;
	font-size:13px;
}

/* Card Footer */
.newsFeedCardFooter {
	text-align: center;
}
md-card md-card-footer {
	margin-top: auto;
	padding: 16px 0;
	width: 100%;
}
.newsFeedIconFav {
	color: #ff6779;
}
.newsFeedIconMenu {
	color: #a0efdd;
}

/* Mobile */
@media only screen and (max-width: 480px) {
	.newsfeedCard{
		width: 100%;
	}
}
