<div class='sidebarTypeHome'>
	<div layout="row">
		<button md-button class="sidenavButton" [ngClass]="{'sidenavButtonSelected': menuSelected('/home') }"[routerLink]="['/home']">
			<md-icon>home</md-icon>
		</button>
	</div>
	<span></span>
	<div layout="row">
		<button md-button class="sidenavButton" [ngClass]="{'sidenavButtonSelected': menuSelected('/user_profile') }"[routerLink]="['/user_profile']">
			<md-icon>account_box</md-icon>
		</button>
	</div>
	<span></span>
	<div layout="row">
		<button md-button class="sidenavButton" [ngClass]="{'sidenavButtonSelected': menuSelected('/newsfeed') }"[routerLink]="['/newsfeed']">
			<md-icon>tv</md-icon>
		</button>
	</div>
	<span></span>
	<div layout="row">
		<button md-button class="sidenavButton" [ngClass]="{'sidenavButtonSelected': menuSelected('/settings') }"[routerLink]="['/settings']">
			<a>
			<md-icon>settings</md-icon>
			</a>
		</button>
	</div>	
	<span></span>
	<div layout="row">
		<button md-button class="sidenavButton" [ngClass]="{'sidenavButtonSelected': menuSelected('/help') }"[routerLink]="['/help']">
			<md-icon>help_outline</md-icon>
		</button>
	</div>
</div>