<div id="container" layout="column" layout-fill>
	<toolbar-component (menuClick)="start.toggle()"></toolbar-component>
	<section layout="row" flex>
		<md-sidenav-layout class="left-navigation">
			<md-sidenav class="sidebarHome" #start mode="side" opened="true">
				<sidenav-component></sidenav-component>
			</md-sidenav>
				<div class='md-padding' layout="row" layout-wrap class="cardsContainer">
					<md-card class="newsFeedCard" *ngFor="let article of articles">
						<img class="newsFeedImage" [src]="article.image" class="md-card-image" alt="image caption">
						<md-card-content class="newsFeedContent" flex>
							<h3><a [href]="article.link">{{article.title}}</a></h3>
							<span>{{article.pubDate}}</span>
							<p>{{article.description}}</p>
						</md-card-content>
						<md-card-footer class="newsFeedCardFooter">
							<div class="md-actions" layout="row" layout-align="center center">
								<button md-button class="newsfeed newsFeedIconFav"><i class="material-icons">favorite</i></button>
								<button md-button class="newsfeed newsFeedIconMenu"><i class="material-icons">menu</i></button>
							</div>
						</md-card-footer>
					</md-card>
				</div>
		</md-sidenav-layout>
	</section>
	<footer-component></footer-component>
</div>
